<main>
    <h1>Lista de Productos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Code</th>
            <th>Category</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th></th>
        </tr>
        {{#each docs}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category}}</td>
                <td>{{this.price}}</td>
                <td><a href="/api/products/{{this.id}}">Detalles</a></td>
                <td><Button>Add To Cart</Button></td>
            </tr>
        {{/each}}
    </table>
    <div>
        {{#if hasPrevPage}}
        <a href={{this.prevLink}}> <-Pagina Anterior</a>
        {{/if}}
        <span>Pagina {{page}}</span>
        {{#if hasNextPage}}
        <a href={{this.nextLink}}>Pagina siguiente-></a>
        {{/if}}
    </div>
</main>
<script src="/js/index.js"></script>